
<%- include('partials/header') %>

<%- include('partials/sidebar') %>
        <main class="app-main"> <!--begin::App Content Header-->
            <div class="app-content-header"> <!--begin::Container-->
                <div class="container-fluid"> <!--begin::Row-->
                    <div class="row">
                        <div class="col-sm-6">
                            <h3 class="mb-0">Dashboard</h3>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-end">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Dashboard v3
                                </li>
                            </ol>
                        </div>
                    </div> <!--end::Row-->
                </div> <!--end::Container-->
            </div>
            
            <div class="app-content">
                <div class="container mt-5">
                    <h3>Maintenance Mode</h3>
                    <div class="form-check form-switch">
                      <input name="maintananceName" class="form-check-input maintanance-switch" <% if (settings.maintanence_enabled == 1 ) { %> checked <%}%> type="checkbox" id="customSwitch">
                      <label class="form-check-label maintanence-label" for="customSwitch"><% if (settings.maintanence_enabled == 0 ) { %> Enable Maintanence <% } else { %> Disable Maintanence <%}%></label>
                    </div>
                  </div>
            </div>

            <div class="app-content">
                <div class="container mt-5">
                    <h3>Contact Form</h3>
                    <div class="form-check form-switch">
                      <input name="mailSwitch" class="form-check-input mail-switch" <% if (settings.mails_enabled == 1 ) { %> checked <%}%> type="checkbox" id="customSwitch">
                      <label class="form-check-label mail-label" for="customSwitch"><% if (settings.mails_enabled == 0 ) { %> Allow Mails <% } else { %> Disable Mails <%}%></label>
                    </div>
                  </div>
            </div>

        </main> <!--end::App Main--> <!--begin::Footer-->
<%- include('partials/footer') %>